{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
			{% if form.matchID %}
            <div class="form-group">
                {{ form.matchID.label(class="form-control-label") }}
                {% if form.matchID.errors %}
                    {{ form.matchID(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.matchID.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.matchID(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			{% endif %}
			
            <div class="form-group">
                {{ form.score.label(class="form-control-label") }}
                {% if form.score.errors %}
                    {{ form.score(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.score.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.score(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.arena.label(class="form-control-label") }}
                {% if form.arena.errors %}
                    {{ form.arena(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.arena.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.arena(class="form-control form-control-lg") }}
                {% endif %}
            </div>
			<div class="form-group">
                {{ form.matchType.label(class="form-control-label") }}
                {% if form.matchType.errors %}
                    {{ form.matchType(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.matchType.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.matchType(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.status.label(class="form-control-label") }}
                {% if form.status.errors %}
                    {{ form.status(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.status.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.status(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.date.label(class="form-control-label") }}
                {% if form.date.errors %}
                    {{ form.date(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.date.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.date(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.teamName.label(class="form-control-label") }}
                {% if form.teamName.errors %}
                    {{ form.teamName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.teamName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.teamName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.oppName.label(class="form-control-label") }}
                {% if form.oppName.errors %}
                    {{ form.oppName(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.oppName.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.oppName(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.sport.label(class="form-control-label") }}
                {% if form.sport.errors %}
                    {{ form.sport(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sport.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sport(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}